@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using BleakwindBuffet.Data
@using System.Text
@using System.Reflection

<div class="text-center">
    <h1 class="display-4">Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic
        fantasy meals straight from the world of Skyrim. Shake the
        blood off your sword and sake your thirst with one of our
        old-fashioned sailor sodas. Hack into a Smokehouse Skeleton
        with your dagger. Or vanquish the the mighty Thalmor Triple
        Burger! You’ve had a hard adventure and earned your loot,
        so spend it with us!.
    </p>

    <h2 class="flex-columns">Entrees</h2>
    @foreach (IOrderItem item in Menu.Entrees())
    {
        <div>
            @IndexModel.BuildString(item)
        </div>
    }

    <h2 class="flex-columns">Sides</h2>
    @foreach (IOrderItem item in Menu.Sides())
    {
        <div>
            @IndexModel.BuildString(item)
        </div>
    }

    <h2 class="flex-columns">Drinks</h2>
    @foreach (IOrderItem item in Menu.Drinks())
    {
        <div>
            @IndexModel.BuildString(item)
        </div>
    }

    <h2>Combos</h2>
    <p>
        Any entree, side, and drink can be combined into a Combo with
        a $1 discount.
    </p>

    <h2>Soda Flavors</h2>
    <p>
        The currently available flavors of soda are Blackberry, Cherry,
        Grapefruit, Lemon, Peach, Watermelon.
    </p>
</div>
